
.product-image {
    height: 450px;
    background-color: red;
    // background-image: url(../assets/images/raquel-gambin-kS3YkVtf85U-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}