<div class="fluid">
  <div #carousel class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="slider-product-image" [ngStyle]="{'background-image': 'url(../assets/images/tamara-bellis-wYwQMrLBbXI-unsplash.jpg)'}" alt="Slide 1"></div>
        <div class="carousel-caption animate__animated animate__fadeInDown">
          <h2>Product 1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper sapien eu purus consectetur, vel blandit mauris mollis. Fusce eu sollicitudin velit. </p>
          <a href="#" class="btn btn-primary">$99.99 - Add to cart</a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="slider-product-image" [ngStyle]="{'background-image': 'url(../assets/images/photo-nic-NIX7pbp6UGU-unsplash.jpg)'}" alt="Slide 2"></div>

        <div class="carousel-caption animate__animated animate__fadeInLeft">
          <h2>Product 2</h2>
          <p>Nullam porttitor tincidunt neque, vel ullamcorper nisi gravida non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; </p>
          <a href="#" class="btn btn-primary">$79.99 - Add to cart</a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="slider-product-image" [ngStyle]="{'background-image': 'url(../assets/images/sandie-clarke-jjgKRrh_jjI-unsplash.jpg)'}" alt="Slide 3"></div>

        <div class="carousel-caption animate__animated animate__fadeInRight">
          <h2>Product 3</h2>
          <p>Sed euismod aliquet nibh, in scelerisque nunc tristique a. Pellentesque quis libero quis elit ultricies dapibus. Proin bibendum rhoncus massa. </p>
          <a href="#" class="btn btn-primary">$119.99 - Add to cart</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
</div>
<div class="fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center d-flex flex-column justify-content-center align-items-center py-4 bg-warning">
        <div class="d-inline">
          <i class="fa fa-cogs fa-2x"></i>
          <h2 class="d-inline"> Secure Payments</h2>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex flex-column justify-content-center align-items-center">
        <div class="d-inline">
          <i class="fa fa-desktop fa-2x"></i>
          <h2 class="d-inline"> Premium Products</h2>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex flex-column justify-content-center align-items-center">
        <div class="d-inline">
          <i class="fa fa-database fa-2x"></i>
          <h2 class="d-inline"> Safe Delivery</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container y-4">
  <div><h1 class="text-center py-4">Title here</h1></div>
  <div id="shopping-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-3">
            <div class="mini-slider-product-image" [ngStyle]="{'background-image': 'url(../assets/images/photo-nic-NIX7pbp6UGU-unsplash.jpg)'}"></div>
          </div>
          <div class="col-md-3">
            <div class="mini-slider-product-image" [ngStyle]="{'background-image': 'url(../assets/images/sandie-clarke-jjgKRrh_jjI-unsplash.jpg)'}"></div>
          </div>
          <div class="col-md-3">
            <div class="mini-slider-product-image" [ngStyle]="{'background-image': 'url(../assets/images/freestocks-_3Q3tsJ01nc-unsplash.jpg)'}"></div>
          </div>
          <div class="col-md-3">
            <div class="mini-slider-product-image" [ngStyle]="{'background-image': 'url(../assets/images/tamara-bellis-_DvfL5b7Xhk-unsplash.jpg)'}"></div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-3">
            <img src="../assets/images/yves-monrique-LR99Ho2eIec-unsplash.jpg" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="../assets/images/yves-monrique-LR99Ho2eIec-unsplash.jpg" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="../assets/images/yves-monrique-LR99Ho2eIec-unsplash.jpg" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="../assets/images/yves-monrique-LR99Ho2eIec-unsplash.jpg" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-3">
            <img src="../assets/images/yves-monrique-LR99Ho2eIec-unsplash.jpg" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="../assets/images/yves-monrique-LR99Ho2eIec-unsplash.jpg" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="../assets/images/yves-monrique-LR99Ho2eIec-unsplash.jpg" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="../assets/images/yves-monrique-LR99Ho2eIec-unsplash.jpg" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#shopping-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#shopping-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="container y-4">
  <div><h1 class="text-center py-4">Title here</h1></div>
  <div class="py-4">
    <button type="button" class="btn btn-outline-primary mx-2" *ngFor="let category of categories">{{category.name}}</button>
  </div>
  <div class="container">
    
  </div>
  <div class="container">
    <app-products></app-products>
  </div>
</div>
<div>
  <div class="loadmore-button text-center">
    <button type="button" class="btn btn-outline-primary">LOAD MORE</button>
  </div>
</div>